
body, input, button, textarea {
  font-family: 'Roboto', sans-serif;
}

.container-content {
  margin: 0 9rem;
}

.footer-extended {
  margin-top: 1rem;
  padding: 4rem 0;
  background-color: #EAF2FD;
}

.footer-extended__content {
  display: flex;
}

.footer-extended__content li {
  margin: 0.8rem;
}

.footer-extended__ul {
  flex: 1;
}

.footer-extended__menu {
  margin: 2rem;
  color: #464646;
}

.footer__form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__form > p {
  color: #464646;
  font-weight: 700;
}

.footer__form__input {
  background: #FFFFFF;
  border-radius: 4px;
  margin: 0.8rem 0;
  padding: 0.75rem;
}

.footer__form__input >  label {
  font-size: 0.75rem;
  color: #A2A2A2;
}

.footer__form__input > input {
  border: none;
  outline: none;
}

.footer__form > textarea {
  background: #FFFFFF;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
}

.footer__btn {
  width: 12rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #2A7AE4;
  color: #fff;
  border: none;
  transition: background-color 0.2s;
}

.footer__btn:hover {
  color: #fff;
  background-color: #5595E9;
}

footer {
  text-align: center;
  color: #464646;
  padding: 1rem;
}
