

.container-login {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.container-login__form-login {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
  width: 25rem;
}

.container-login__form-login > h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #464646;
}

.container-login__form-login > input {
  padding: 0.8rem 0.4rem;
  background: #FFFFFF;
  border: none;
  border-radius: 4px;
  border-bottom: 1px solid #c7c7c7;
}

.container-login__form-login > button {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #2A7AE4;
  color: #fff;
  border: none;
  transition: background-color 0.2s;
}

.container-login__form-login > button:hover {
  color: #fff;
  background-color: #5595E9;
}